#red {
    background-color: red;
}

.brewerie-block {
    display: inline-block;
    min-width: 25%;
    min-height: 100px;
    background-color: rgb(0, 0, 82);
    color: white;
    margin: 10px;
    padding: 5px;
}