div.container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #350000;
}
div.container.black {
  background-color: black;
}
div.container > article.new {
  background-color: #000027;
  padding: 10px;
}
div.container > article.new > h2 {
  color: #dadada;
}
div.container > article.new > p {
  color: #e6e92d;
}
