div {
  width: 100px;
  height: 100px;
  color: #008000;
  /* background-color: #0b2500!important; */
  background-color: #0b2500;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid red;
  border-radius: 20px;
}

div.bg-rojo {
  background-color: rgb(65, 0, 0);
}

.bg-rojo {
  background-color: red;
}

.c-white {
  color: white;
}

div.news {
  border-radius: 0px;
  border: none;
}

div.news > article p {
  font-family: "Pacifico", cursive;
  font-weight: bold;
}
div.news > article:first-of-type p {
  font-family: "Libre Barcode 128 Text", cursive;
  font-family: ;
  font-size: xx-large;
  font-weight: bolder;
}

div.bg-black {
  background-color: black;
  color: white;
  min-width: 100%;
  min-height: 200px;
}

div.bg-black a {
  display: block;
  color: white;
  min-height: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  color: green;
  font-size: x-large;
}

a:active {
  color: red;
}

.icon-link {
    max-height: 100px;
    border-radius: 50px;
}