body {
  margin: 0;
}
div.container {
  width: 100% !important;
  height: 100% !important;
}
div.sticky-header {
  z-index: 10;
  width: 100%;
  font-size: xx-large;
  height: 50px;
  color: black;
  left: 0 !important;
  top: 0;
  position: sticky;
  background-color: white;
  -webkit-box-shadow: 0px 8px 22px 6px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 8px 22px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 8px 22px 6px rgba(255, 255, 255, 1);
}
.fog {
  z-index: 50;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00000063;
}
div.pop-up {
  position: fixed;
  z-index: 100;
  background-color: red;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  text-align: center;
}
@media only screen and (max-width: 799px) {
  header {
    top: 0;
    position: sticky;
    font-size: xx-large;
    padding: 30px;
    text-align: center;
  }
  div {
    display: inline-block;
    height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 53);
    color: #a782ff;
    padding: 20px;
    margin-bottom: 5px;
  }
  div article h1 {
    text-align: center;
    font-size: 48px;
  }
}

@media only screen and (min-width: 800px) {
  header {
    font-size: xx-large;
    padding: 30px;
  }
  div {
    display: inline-block;
    height: 200px;
    width: 45%;
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 5px;
  }
}

@media only print {
  header {
    font-size: xx-large;
    padding: 30px;
  }
  div {
    display: inline-block;
    height: 200px;
    width: 45%;
    background-color: red;
    color: black;
    padding: 20px;
    margin: 40px;
  }
}
