label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input[type="text"] {
  color: pink;
}

input[type="password"],
input[type="text"],
input[type="number"],
input[type="email"] {
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  color: #181818;
}

input.input-error {
  border-left: 5px solid red;
}

input.input-valid {
  border-left: 5px solid rgb(51, 165, 51);
}

.form-group {
  margin: 10px 5px 10px 5px;
}
.form-group input {
  display: block;
}
.form-group label {
  display: block;
}

.form-group[required] label::after {
  content: "*";
  color: red;
}

#error-message {
  background-color: #f16060;
  border: #c53232 solid 2px;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  padding: 3px;
  font-size: 12px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hide {
  display: none;
}
